/* styles */
body {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #4d4d4d;
    /* min-width: 550px;
    max-width: 850px; */
    margin: "0 auto"
  }

  a.active {
      color: orange;
  } 

  nav {
      padding-top: 20px;
  }
  .navbar-brand>img {
    display: block;
    padding-bottom: 20px;
}


.navbar {
  margin-bottom: 0px;
  border-radius:0px;
  background-color: #5E4485;
  color: #fff;
  padding: 1% 0;
  font-size: 1.2em;
  border:0;
}

nav.navbar.navbar-inverse {
    background-color:#5e4485; 
}
.navbar-brand{
  float: left;
  padding: 0 15px 5px;
}

.navbar-brand>img {
  display: block;
  height: 50px;
}

.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus,
.navbar-inverse .navbar-nav .active a:hover{
  color:#ffffff;
  background-color:#5e4485; 
}

ul.nav.navbar-nav.navbar-right a:hover {
  color:#A6DE18
}

ul.nav.navbar-nav.navbar-right a:active{
  color:#A6DE18
}
.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  text-transform: uppercase;
}

.carousel-caption .btn {
    font-size: 18px;
    color: #fff;
    padding: 12px 22px;
    background: #5e4485;
    border: 2px solid #fff;
    margin-top: 100px;
    text-shadow: none;
}
@media(max-width:600px){
    .carousel-caption {
      display: none;
    }
    #icon{
      max-width: 150px;
    }
    h2{
      font-size: 1.9em;
    }
}

@media(max-width:900px){
 .fa{
   font-size: 25px;
   padding:10px;
 }
}

#icon {
  max-width: 200px;
  margin: 1% auto;
}
.container {
  margin: 4% auto;
}

/* SERVICES */
.services {
  text-align: center;
}

.services h2,
.services h4
 {
  color: #4c4c4c;
  margin: 20px 0 20px;
}
.services p{
  color: #737373;
  font-size:14px;
  padding-bottom: 40px;
}
.services i{
  height: 80px;
  width: 80px;
  font-size:30px;
  padding: 25px 20px;
  border-radius:50%;
  background-color: #6699cc; 
  color: #fff;
}
@media(max-width:768px){
    .services {
      padding:30px;
    }

}
footer {
  width: 100%;
  background-color: #5e4485; 
  padding: 5%;
  color:#fff;
}

.fa {
  padding: 15px;
  font-size:30px;
  color: #fff;
}
.fa:hover {
  color:#D5D5D5;
  text-decoration: none;
}

img.self {
  max-height: 120px;
}

img.image-circle {
  height: 150px;
  width: 150px;
  margin-top: 80px;
}

.product{
  padding: 0px 0 80px;
  text-align: center;
}
.padding b,
.product h2,
.product h4 {
  margin: 20px 0 20px;
  color: #4c4c4c;
}
.product p {
  color: #737373;
}